

.dot {
    position: absolute;
    background-color: var(--red);
    transition: all var(--dot-animation-time) var(--dot-animation-timing);
    border-radius: 10px;
    transform: translate(0, 0) scale(1);
    margin-top: -10px;
    margin-left: -10px;
    z-index: 19;
}

.dot::after {
    background-color: var(--red);
    position: absolute;
    border-radius: 10px;
    content: "";
    width: 20px;
    height: 20px;
    animation: breathe 1.3s infinite;
    animation-timing-function: var(--dot-animation-timing);
}
.dot::before {
    background-color: var(--red);
    position: absolute;
    border-radius: 10px;
    content: "";
    width: 20px;
    height: 20px;
    animation: breathe2 1.3s infinite;
    animation-timing-function: var(--dot-animation-timing);
    opacity: 0.5;
}

.ani {
    animation: fly var(--dot-animation-time) forwards;
    animation-timing-function: var(--dot-animation-timing);
}

@keyframes fly {
    0% {
        filter: blur(0px);
    }
    50% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes breathe2 {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
